<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index
<select>
    <option value="1">你好1</option>
    <option value="2">你好2</option>
    <option value="3">你好3</option>
    <option value="4">你好4</option>
</select>


<select id="cc" class="easyui-combobox" name="dept" style="width:200px;">
    <option value="aa">aitem1</option>
    <option>bitem2</option>
    <option>bitem3</option>
    <option>ditem4</option>
    <option>eitem5</option>
</select>

<div>
    <iframe width="475" height="250" src="https://naozhong.net.cn/embed/jishiqi/chunjie/#theme=0&ampm=0&sound=bells" frameborder="0" allowfullscreen></iframe>
</div>
</body>
<script>



</script>
</html>